<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Local</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a1eaa2">  <td>19/04/17 12:42:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_SearchTestCase2.searchTestCase(java.util.Hashtable)[pri:0, instance:com.se.apc.testcases.TC002_SearchTestCase2@4cc8eb05]">searchTestCase</td> 
  <td>main@2051120548</td>   <td></td> </tr>
<tr bgcolor="bcb197">  <td>19/04/17 12:42:22</td>   <td>-43</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_SearchTestCase.searchresultsPageTestCase(java.util.Hashtable)[pri:0, instance:com.se.apc.testcases.TC001_SearchTestCase@3246fb96]">searchresultsPageTestCase</td> 
  <td>main@2051120548</td>   <td></td> </tr>
</table>
