<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9f99ea">  <td>19/04/23 14:35:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_SearchTestCase.searchresultsPageTestCase(java.util.Hashtable)[pri:0, instance:com.se.apc.testcases.TC001_SearchTestCase@2a266d09]">searchresultsPageTestCase</td> 
  <td>TestNG@2034999759</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>19/04/23 14:34:56</td>   <td>-27264</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStack.setUp()[pri:0, instance:com.se.apc.testcases.TC001_SearchTestCase@2a266d09]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2034999759</td>   <td></td> </tr>
</table>
